@charset "UTF-8";
/* VARIABLES DE SCSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* INDEX */
.contenedorMuelle {
  width: 100vw; }

.fotoMuelle {
  width: 100%;
  height: 500px;
  object-fit: cover; }

.imgPrincipal {
  background-image: url(../imagenes/santorini-package1.jpg);
  background-size: cover;
  background-position: center;
  height: 1000px;
  width: 100vw; }

.tituloCentrado {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.textoCentrado {
  text-align: center !important;
  justify-content: center;
  margin-bottom: 20vh; }

.padre {
  display: flex;
  flex-flow: wrap;
  width: 100vw;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
  justify-content: center; }

.hijo {
  display: flex;
  flex-flow: column;
  padding: 50px;
  height: 40vh;
  width: 33%;
  align-items: center; }

.agrandar {
  transition: all 2s; }

.agrandar:hover {
  transform: scale(1.5, 1.5); }

/* MODIFICAR BOOTSTRAP */
.centrarImagen {
  justify-self: center;
  align-items: center; }

.noBorder {
  border: none !important; }

.flexConfiguracion {
  justify-content: space-evenly;
  align-items: center;
  margin: 100px;
  margin-bottom: 200px; }

.modificarDropdown {
  background-color: antiquewhite !important;
  color: darkred;
  font-family: 'Cinzel', serif;
  margin: 20px; }

.modificarSombra:hover {
  background-color: darkred; }

.productosIndex {
  width: 200px;
  height: 200px;
  border-right-width: 10px;
  border-left-width: 10px;
  border-bottom-width: 60px;
  border-top-width: 10px;
  border-style: solid;
  border-color: gainsboro;
  border-radius: 2px;
  box-shadow: 20px; }

.productosNombre {
  font-family: 'Cinzel', serif;
  font-size: 24px;
  margin-top: 2px;
  margin-bottom: 2px; }

.medidasProductos {
  font-family: 'Cinzel', serif;
  font-size: 24px; }

.menuNewsletter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: white;
  margin: 5vh; }

/* INDEX NEWSLETTER CONFIGURATION */
.newsletter {
  font-family: 'Cinzel', serif;
  text-align: left;
  color: darkred; }

.newsletterBox {
  font-size: 24px;
  font-family: 'Cinzel', serif;
  box-shadow: gray;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px; }

.newsletterLabel {
  font-family: 'Cinzel', serif;
  font-size: 24px; }

.sendButton {
  font-family: 'Cinzel', serif;
  background-color: antiquewhite;
  color: black;
  margin: 5px;
  padding: 5px; }

.eraseButton {
  font-family: 'Cinzel', serif;
  background-color: antiquewhite;
  color: black;
  margin: 5px;
  padding: 5px; }

.footerIndex {
  font-family: 'Cinzel', serif;
  color: darkred;
  list-style-type: square;
  list-style-position: inside;
  font-size: 24px; }

.liWidth {
  width: 500px; }

/* ICONOS INDEX */
.iconosIndex {
  background-color: antiquewhite;
  font-size: 24px;
  font-family: 'Cinzel', serif;
  margin-top: 100px;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  height: 200px;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
  align-content: center; }

.rotar:hover {
  transform: rotate(15deg); }

.todosLosDerechos {
  font-size: 18px;
  margin-top: 1rem; }

/* NOSOTROS */
.header__nav {
  padding-left: 30px; }

.newsletterNoIndex {
  font-family: 'Cinzel', serif;
  margin-left: 1600px;
  text-align: left;
  color: darkred;
  margin-bottom: 100px; }

.footerIndex2 {
  font-family: 'Cinzel', serif;
  color: darkred;
  list-style-type: square;
  list-style-position: inside;
  font-size: 24px; }

/* METODOLOGÍA BEM EN HTML NOSOTROS*/
.div1 {
  width: 100vw; }

.div1__imgppal {
  width: 100%;
  height: 500px;
  object-fit: cover; }

.sectionNosotros, .sectionNosotros__texto {
  height: 600px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }

.sectionNosotros__titulo {
  text-align: center;
  font-family: 'Cinzel', serif;
  line-height: 1.6;
  font-size: 48px;
  color: darkred; }

.sectionNosotros__texto {
  font-family: 'Cinzel', serif;
  line-height: 1.6;
  color: darkred;
  display: flex;
  font-size: 24px;
  flex: 1 auto;
  height: 50%;
  width: 50%;
  /* height: 50% !important;
    width: 50%; */
  align-self: center;
  text-align: center;
  margin-top: 0px !important; }

/* FIN DE METODOLOGIA BEM EN HTML NOSOTROS */
/* PRODUCTOS */
.iconosProductos {
  background-color: antiquewhite;
  font-size: 20px;
  font-family: 'Cinzel', serif;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  height: 20vh;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
  align-content: center; }

.descuento {
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center; }

.sitioSeguro {
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center; }

.enviosatodoelPais {
  display: inline-block;
  margin: 0 2vw;
  text-align: center; }

.cambioGratuito {
  display: inline-block;
  margin: 0 2vw;
  text-align: center; }

.CuotassinInteres {
  display: inline-block;
  margin: 0 2vw;
  text-align: center; }

.inlineDisplay {
  display: inline-block; }

.productosSearch {
  margin-top: 4rem;
  margin-left: 4rem;
  margin-bottom: 4rem; }

.productosProductos {
  display: flex;
  justify-content: space-around;
  height: 900px;
  margin-top: 0px;
  margin-left: 100px; }

.padreMostrarMas {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  margin-top: 20vh; }

.botonMostrarMas {
  font-family: 'Cinzel', serif;
  font-size: 24px;
  background-color: antiquewhite;
  color: black;
  margin-top: 2vh;
  margin-bottom: 4vh;
  padding: 20px;
  display: inline-block;
  border-radius: 5px; }

/* CAMBIOS Y DEVOLUCIONES */
.divAccordion {
  /*     width: $ancho-accordion/2; */
  align-items: center;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: center;
  font-size: 24px; }

.buttonAccordion {
  font-size: 24px;
  color: darkred !important;
  background-color: antiquewhite !important;
  border: 0;
  border-color: gray;
  border-radius: 5px !important;
  /* box-shadow: 0 0 0 0.25rem gray; */ }

.fontAccordion {
  font-family: "Cinzel", serif;
  font-size: 18px; }

.divCarousel {
  max-width: 30rem !important;
  justify-content: center !important;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-items: center; }

.imagenCarousel {
  justify-content: center !important;
  align-content: center; }

/* BOTON DEL ACCORDION SOBRE ESCRITO */
.accordion-button:focus {
  z-index: 3;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem gray; }

/* CONTACTO */
.sendButton2 {
  font-family: 'Cinzel', serif;
  background-color: antiquewhite;
  color: black;
  margin: 5px;
  font-size: 24px;
  padding: 5px;
  border-radius: 5px; }

.eraseButton2 {
  font-family: 'Cinzel', serif;
  background-color: antiquewhite;
  color: black;
  margin: 5px;
  font-size: 24px;
  padding: 5px;
  border-radius: 5px; }

/* .grid-guiaDeCompra {
    display: grid;
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 10vh 50vh;
    width: 60vw;
    justify-content: space-evenly;
    justify-items: start;
    align-content: start;
    gap: 100px;
    margin: 0 auto;
}
.guiaDeCompra {
    font-family: 'Cinzel', serif;
    word-spacing: 7px;
    list-style-type: square;
    color: darkred;
    margin-left: 60px;
    margin-top: 60px;
    grid-column: 2 / -1;
    align-self: flex-start;
    justify-self: start;
    font-size: 24px;
    display: inline-block;
}
.guiaDeCompra2 {
    font-family: 'Cinzel', serif;
    word-spacing: 7px;
    list-style-type: square;
    color: darkred;
    margin-left: 60px;
    margin-top: 60px;
    align-self: stretch;
    font-size: 24px;
}
.listaDePreguntas {
    font-size: 24px;
} */
.liWidth2 {
  width: 80vw;
  margin-top: 10px; }

/* CONTACTO */
.textoContacto {
  font-family: 'Cinzel', serif;
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px; }

.boxContacto {
  font-size: 24px;
  font-family: 'Cinzel', serif;
  box-shadow: gray;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 2px; }

/* ID'S */
#newsletterNoIndex {
  display: flex;
  justify-content: space-between; }

#header {
  width: 100%;
  background-color: antiquewhite;
  display: inline-block; }

#headerList1 {
  list-style: none; }

#img-ppal {
  width: 90%;
  border-radius: 5%; }

#listaindex {
  list-style-type: none;
  color: darkred;
  list-style-position: inside; }

#footer {
  width: 100vw;
  background-color: antiquewhite;
  text-align: center;
  font-style: normal;
  font-size: 20px;
  font-family: 'Cinzel', serif;
  padding-bottom: 20px;
  background: #dfba88;
  background: linear-gradient(90deg, #dfba88 0%, antiquewhite 35%, #fcfcfc 100%); }

#iconoInstagram {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px; }

#iconoFacebook {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px; }

#iconoWhatsapp {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px; }

#iconoCamion {
  width: 50px;
  height: 50px; }

#iconoIntercambio {
  width: 50px;
  height: 50px; }

#iconoTarjeta {
  width: 50px;
  height: 50px; }

  #iconoPeso {
    width: 30px;
    height: 30px; }

#iconoCandado {
  width: 30px;
  height: 30px; }

#footersecundario {
  background-color: antiquewhite;
  font-family: 'Cinzel', serif;
  color: darkred;
  list-style-type: square;
  list-style-position: inside; }

#listaDePreguntas {
  background-color: antiquewhite;
  text-decoration: darkred;
  margin-left: 60px;
  margin-top: 60px;
  margin-bottom: 60px; }

#tituloNosotros {
  text-align: center;
  font-family: 'Cinzel', serif;
  line-height: 1.6;
  font-size: 48px;
  color: darkred; }

#textoNosotros {
  font-family: 'Cinzel', serif;
  line-height: 1.6;
  color: darkred;
  display: flex;
  font-size: 24px;
  flex: 1 auto;
  height: 50%;
  width: 50%;
  align-self: center;
  text-align: center;
  margin-top: 100px; }

#boxNosotros {
  height: 600px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }

#imagenExtra1 {
  text-align: center;
  justify-content: center;
  display: inline-block;
  margin-left: 50%;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 100px;
  border-radius: 8px;
  opacity: 0.5; }

#tituloContacto {
  text-align: center;
  font-family: 'Cinzel', serif;
  letter-spacing: 5px;
  font-size: 42px;
  margin-bottom: 50px;
  margin-block-start: 0; }

h1 {
  font-size: 500%;
  text-align: center;
  font-family: 'Cinzel', serif;
  letter-spacing: 20px;
  align-items: center; }

h2 {
  text-align: left;
  font-family: 'Cinzel', serif;
  letter-spacing: 5px; }

a {
  text-decoration: none;
  font-family: 'Cinzel', serif;
  color: darkred !important; }

nav {
  width: 100%;
  height: 60px;
  background-color: white;
  margin-bottom: 25px; }

nav ul {
  float: left; }

nav ul li {
  float: left;
  list-style: none;
  position: relative; }

nav ul li a {
  font-family: 'Cinzel', serif;
  color: darkred;
  font-size: 24px;
  padding: 22px 14px;
  display: block;
  text-decoration: none;
  /* margin-left: 30px; */
  margin-top: 10px; }

nav ul li ul {
  display: none;
  position: absolute;
  background-color: white;
  padding: 10px;
  border-radius: 4px; }

nav ul li:hover ul {
  display: block; }

nav ul li ul li {
  width: 500px;
  border-radius: 0px 0px 4px 4px; }

nav ul li ul li a {
  padding: 8px 14px; }

nav ul li ul li a:hover {
  background-color: antiquewhite; }

/* MEDIA QUERIE MOBILE*/
@media only screen and (max-width: 480px) {
  .contenedorMuelle {
    width: 100vw !important; }
  .fotoMuelle {
    width: 100% !important; }
  .imgPrincipal {
    background-image: url(../imagenes/santorini-package1.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100vw; }
  h1 {
    width: 100vw;
    font-size: 24px; }
  .tresproductosIndex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40vh;
    width: 100vw; }
  .iconosIndex {
    width: 100vw;
    grid-template-rows: 20% 50%;
    height: 100px; }
  #iconoCamion {
    width: 20px;
    height: 20px; }
  #iconoIntercambio {
    width: 20px;
    height: 20px; }
  #iconoTarjeta {
    width: 20px;
    height: 20px; }
  .enviosatodoelPais {
    display: inline-block;
    margin: 0 2vw;
    font-size: 12px;
    text-align: center; }
  .cambioGratuito {
    display: inline-block;
    margin: 0 2vw;
    text-align: center;
    font-size: 12px; }
  .CuotassinInteres {
    display: inline-block;
    margin: 0 2vw;
    font-size: 12px;
    text-align: center; }
  .menuNewsletter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: flex-start; }
  #footer {
    width: 100vw; }
  .footerIndex {
    font-family: 'Cinzel', serif;
    color: darkred;
    list-style-type: square;
    list-style-position: inside;
    font-size: 12px;
    align-items: flex-start;
    padding-left: 1vw; }
  .liWidth {
    width: 50vw;
    margin-top: 10px; }
  .newsletter {
    font-family: 'Cinzel', serif;
    padding-left: 1vw;
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    color: darkred; }
  .newsletterBox {
    font-size: 12px;
    font-family: 'Cinzel', serif;
    box-shadow: gray;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 2px; }
  .newsletterLabel {
    font-family: 'Cinzel', serif;
    font-size: 12px; }
  .sendButton {
    font-family: 'Cinzel', serif;
    background-color: antiquewhite;
    color: black;
    margin: 5px;
    font-size: 10px; }
  .eraseButton {
    font-family: 'Cinzel', serif;
    background-color: antiquewhite;
    color: black;
    margin: 5px;
    font-size: 10px; }
  #iconoInstagram {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px; }
  #iconoFacebook {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px; }
  #iconoWhatsapp {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px; }
  .todosLosDerechos {
    font-size: 12px;
    margin-top: 1rem; }
  .padre {
    display: flex;
    flex-flow: column;
    width: 100vw;
    height: 200vh;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-evenly; }
  .hijo {
    display: flex;
    flex-flow: column;
    padding: 50px;
    height: 40vh;
    width: 33%;
    justify-content: space-evenly;
    align-items: center; }
  .iconosProductos {
    background-color: antiquewhite;
    font-size: 16px;
    font-family: 'Cinzel', serif;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    height: auto;
    /* justify-items: center; */
  }
  .flexIconos {
    display: flex;
    column-gap: 10%;
  }
  .productosFlex1 {
    order: 1;
    padding-top: 5px;
    font-size: 12px;
    padding-bottom: 5px;
  }
  .productosFlex2 {
    order: 2;
    padding-top: 5px;
    font-size: 12px;
    padding-bottom: 5px;
  }
  .productosFlex3 {
    order: 3;
    padding-top: 5px;
    font-size: 12px;
    padding-bottom: 5px;
  }
  .productosFlex4 {
    order: 4;
    padding-top: 5px;
    font-size: 12px;
    padding-bottom: 5px;
  }
  .productosFlex5 {
    order: 5;
    padding-top: 5px;
    font-size: 12px;
    padding-bottom: 5px;
  }
  .productosFlex6 {
    order: 6;
    padding-top: 5px;
    font-size: 12px;
    padding-bottom: 5px;
  }
  #iconoPeso {
    width: auto;
    height: 3vh; }
  #iconoCandado {
    width: auto;
    height: 3vh; }
  .productosIndex {
    width: 200px;
    height: 200px;
    border-right-width: 10px;
    border-left-width: 10px;
    border-bottom-width: 60px;
    border-top-width: 10px;
    border-style: solid;
    border-color: gainsboro;
    border-radius: 2px;
    box-shadow: 20px; }
  .productosNombre {
    font-family: 'Cinzel', serif;
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 2px; }
  .medidasProductos {
    font-family: 'Cinzel', serif;
    font-size: 12px;
    width: 40vw;
    margin-top: 2px;
    justify-items: center; }
  nav ul li a {
    font-size: 16px;
    padding: 10px 8px; } 
  .sectionNosotros__titulo {
    text-align: center;
    font-family: 'Cinzel', serif;
    line-height: 1.6;
    font-size: 30px;
    color: darkred;
    margin-top: 10vh; }
  .sectionNosotros__texto {
    font-family: 'Cinzel', serif;
    line-height: 1.6;
    color: darkred;
    display: flex;
    font-size: 16px;
    flex: 1 auto;
    height: 50%;
    width: 50%;
    align-self: center;
    text-align: center;
    margin-top: 0 !important; }
  .boxContacto {
    max-width: 100%;
    font-size: 16px;
    font-family: 'Cinzel', serif;
    box-shadow: gray !important;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px; }
    .padreMostrarMas {
      display: flex;
      text-align: center;
      align-content: center;
      justify-content: center;
      margin-top: 5vh;
  }
    .botonMostrarMas {
      font-family: 'Cinzel', serif;
      font-size: 16px;
      background-color: antiquewhite;
      color: black;
      margin-top: 2vh;
      margin-bottom: 4vh;
      padding: 10px;
      display: inline-block;
      border-radius: 5px;
  }
  .buttonAccordion {
    font-size: 16px;
    color: darkred !important;
    background-color: antiquewhite !important;
    border: 0;
    border-color: gray;
    border-radius: 5px !important;
    width: 200px;
    /* box-shadow: 0 0 0 0.25rem grey; */
}
  #tituloContacto {
    text-align: center;
    font-family: 'Cinzel', serif;
    letter-spacing: 5px;
    font-size: 30px;
    margin-bottom: 50px;
    margin-block-start: 0;
  }
  .textoContacto {
    font-family: 'Cinzel', serif;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
}
.sendButton2 {
  font-family: 'Cinzel', serif;
  background-color: antiquewhite;
  color: black;
  margin: 5px;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
}
.eraseButton2 {
  font-family: 'Cinzel', serif;
  background-color: antiquewhite;
  color: black;
  margin: 5px;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
}
}
